<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee information</title>
</head>
<body>
    <table>
        <tbody>
        <tr>
            <td>employee ID</td>
            <td> {{employee.id}}</td>
        </tr>
        <tr>
            <td>employee fname</td>
            <td> {{employee.fname}}</td>
        </tr>
        <tr>
            <td> employee iname</td>
            <td>{{employee.iname}}</td>
        </tr>
        <tr>
            <td> employee age</td>
            <td>{{employee.age}}</td>
        </tr>
        <tr>
            <td> employee address</td>
            <td>{{employee.address}}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>