<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hi welcome django section</title>
</head>
<body>
<h1>
    hi bhanu these is django class
    we use function view
</h1>

<ol type="1">
        <li><a href="https://www.google.com/">  Google search engine</a></li>
        <li><a href="https://www.bing.com/">  bing search engine</a></li>
        <li><a href="https://in.search.yahoo.com/">  yahoo search engine</a></li>
        <li><a href="https://yandex.com/">  yandex search engine</a></li>
        <li><a href="https://duckduckgo.com/">  duckduckgo search engine</a></li>
        <li><a href="https://www.baidu.com/">    baidu search engine (not work in india)</a></li>
        <li><a href="https://www.ask.com/">    ask search engine</a></li>
        <li><a href="https://www.naver.com/">    naver search engine</a></li>
        <li><a href="https://www.ecosia.org/?c=en"> ecosia search engine</a></li>
        <li><a href="https://www.aol.com/">    aol search engine</a></li>


    </ol>
</body>
</html>