h1 {
  background-color: blue;
  padding: 25px 50px 25px 50px;
  margin: 0;
}

div {
  padding: 25px 50px 75px 100px;
  background-color: lightblue;
   margin: 0;

}

demo{
  background-color: yellow;
  padding: 25px 50px 25px 50px;
  margin: 0;
}
p{
  background-color: yellow;
  padding: 25px 50px 25px 50px;
  margin: 0;
}
